.logout-button {
  height: 50px;
  width: 70px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #fff;

  @media(max-width: 785px){
    height: 30px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &:not(:disabled)hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}